resources/pug/_components/auth/layout.pug
doctype html
html(lang='en')
    // Mirrored from demo.interface.club/limitless/layout_1/LTR/login_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 11:47:18 GMT
    // Added by HTTrack
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    // /Added by HTTrack
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Cerebelo Almais - Gestão de Empresas
        // Global stylesheets
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900', rel='stylesheet', type='text/css')
        link(href="{{ route('cerebelo.index') }}/css/cerebelo/layout.css", rel='stylesheet', type='text/css')
        // /global stylesheets
        // Core JS files
        script(type='text/javascript', src="{{ route('cerebelo.index') }}/js/cerebelo/layout.js")
        // /core JS files
        // Theme JS files
        block theme-js-files
        // /theme JS files
    body
        // Main navbar
        .navbar.navbar-inverse
            .navbar-header
                a.navbar-brand(href='index.html')
                    img(src='assets/images/logo_light.png', alt='')
                ul.nav.navbar-nav.pull-right.visible-xs-block
                    li
                        a(data-toggle='collapse', data-target='#navbar-mobile')
                            i.icon-tree5
            #navbar-mobile.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#')
                            i.icon-display4
                            span.visible-xs-inline-block.position-right  Go to website
                    li
                        a(href='#')
                            i.icon-user-tie
                            span.visible-xs-inline-block.position-right  Contact admin
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown')
                            i.icon-cog3
                            span.visible-xs-inline-block.position-right  Options
        // /main navbar
        // Page container
        .page-container.login-container
            // Page content
            .page-content
                // Main content
                .content-wrapper
                    // Content area
                    .content
                        block content
                        
                        
                        // Footer
                        .footer.text-muted
                            | © 2017. 
                            a(href='#') Cerebelo
                            |  by 
                            a(href='http://emiolo.com', target='_blank') eMiolo.com
                        // /footer
                    // /content area
                // /main content
            // /page content
        // /page container
    // Mirrored from demo.interface.club/limitless/layout_1/LTR/login_advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 11:47:18 GMT

build/layout.html
<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from demo.interface.club/limitless/layout_1/LTR/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 10:29:46 GMT-->
  <!-- Added by HTTrack-->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <!-- /Added by HTTrack-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colégio e Curso Nota 10</title>
    <!-- Global stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files-->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/vue-resource/dist/vue-resource.js"></script>
    <script type="text/javascript" src="assets/js/cerebelo_pages/vue/menu.js"></script>
    <!-- /core JS files-->
    <!-- Theme JS files-->
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/dashboard.js"></script>
    <!-- /theme JS files-->
  </head>
  <body>
    <!-- Main navbar-->
    <div class="navbar bg-blue-700">
      <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>
        <ul class="nav navbar-nav visible-xs-block">
          <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5 text-white"></i></a></li>
          <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
      </div>
      <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
          <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown dropdown-user"><a class="dropdown-toggle text-white" data-toggle="dropdown"><img src="assets/images/demo/users/face11.jpg" alt=""><span>Victoria</span><i class="caret"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#"><i class="icon-cog5"></i> Configurações da Conta</a></li>
              <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /main navbar-->
    <!-- Page container-->
    <div class="page-container">
      <!-- Page content-->
      <div class="page-content">
        <!-- Main sidebar-->
        <div class="sidebar sidebar-main bg-blue-800">
          <div class="sidebar-content">
            <!-- User menu-->
            <div class="sidebar-user">
              <div class="category-content">
                <div class="media"><a class="media-left" href="#"><img class="img-circle img-sm" src="assets/images/logo-almais.png" alt=""></a>
                  <div class="media-body"><span class="media-heading text-semibold">Almais</span>
                    <div class="text-size-mini text-muted"><i class="icon-pin text-size-small"></i>  Juiz de Fora, MG</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /user menu-->
            <!-- Main navigation-->
            <div class="sidebar-category sidebar-category-visible" id="sidebar-menu">
              <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                  <!-- Main-->
                  <li class="pl-5 pr-5 pb-5">
                    <div class="form-group has-feedback">
                      <input class="form-control" type="text" placeholder="" v-model="searchText">
                      <div class="form-control-feedback"><i class="icon-search4 text-size-base"></i></div>
                    </div>
                    <ul>
                      <li v-repeat="users | filterBy searchText">{{name}}</li>
                    </ul>
                  </li>
                  <li class="active"><a href="index.html"><i class="icon-home4"></i><span>Dashboard</span></a></li>
                  <!-- /Principal-->
                  <!-- Menu-->
                  <li class="navigation-header"><span class="text-orange-300">Projetos</span><i class="icon-menu" title="Main pages"></i></li>
                  <li><a href="orcamento.html"><i class="icon-calculator2 text-orange-300"></i><span>Orçamento</span></a></li>
                  <li><a href="cadastro-linha.html"><i class="icon-equalizer4 text-orange-300"></i><span>Linhas</span></a></li>
                  <li><a href="cadastro-cliente.html"><i class="icon-address-book2 text-orange-300"></i><span>Clientes</span></a></li>
                  <li><a href="cadastro-obra.html"><i class="icon-office text-orange-300"></i><span>Obras</span></a></li>
                  <li><a href="produtos-acessorios.html"><i class="icon-color-sampler text-orange-300"></i><span>Produtos e Acessórios</span></a></li>
                  <!-- /Menu-->
                  <!-- Fornecedores-->
                  <li class="navigation-header"><span class="text-blue-300">Fornecedores</span><i class="icon-menu" title="Fornecedores"></i></li>
                  <li><a href="fornecedores.html"><i class="icon-users2 text-blue-300"></i><span>Fornecedores</span></a></li>
                  <!-- /Fornecedores-->
                  <!-- Financeiro-->
                  <li class="navigation-header"><span class="text-green-300">Financeiro</span><i class="icon-menu" title="Financeiro"></i></li>
                  <li><a href="contas_a_pagar.html"><i class="icon-cash3 text-green-300"></i><span>Contas a Pagar</span></a></li>
                  <li><a href="contas_a_receber.html"><i class="icon-piggy-bank text-green-300"></i><span>Contas a Receber</span></a></li>
                  <li><a href="fluxo_de_caixa.html"><i class="icon-chart text-green-300"></i><span>Caixa</span></a></li>
                  <li><a href="#"><i class="icon-safe text-green-300"></i><span>Configurações Financeiras</span>
                      <ul>
                        <li><a href="contas_bancarias.html">Contas Financeiras</a></li>
                        <li><a href="planos_de_contas.html">Planos de Contas</a></li>
                        <li><a href="tipos_de_boletos.html">Configurar Boletos</a></li>
                      </ul></a></li>
                  <!-- /Financeiro-->
                  <!-- Recursos Humanos-->
                  <li class="navigation-header"><span class="text-warning-300">Recursos Humanos</span><i class="icon-menu" title="Recursos Humanos"></i></li>
                  <li><a href="funcionarios.html"><i class="icon-users4 text-warning-300"></i><span>Funcionários</span></a></li>
                  <li><a href="remuneracao_beneficios.html"><i class="icon-users4 text-warning-300"></i><span>Remuneração e Benefícios</span></a></li>
                  <!-- /Recursos Humanos  -->
                  <!-- Relatórios-->
                  <li class="navigation-header"><span class="text-info-300">Relatórios</span><i class="icon-menu" title="Relatórios"></i></li>
                  <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 01</span></a></li>
                  <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 02</span></a></li>
                  <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 03</span></a></li>
                  <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 04</span></a></li>
                  <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 05</span></a></li>
                  <!-- /Relatórios-->
                  <!-- Configurações-->
                  <li class="navigation-header"><span class="text-danger-300">Sistema</span><i class="icon-menu" title="Relatórios"></i></li>
                  <li><a href="configuracoes_cliente.html"><i class="icon-cog4 text-danger-300"></i><span>Configurações do Cliente</span></a></li>
                  <li><a href="suporte.html"><i class="icon-help text-danger-300"></i><span>Suporte</span></a></li>
                  <!-- /Configurações-->
                </ul>
              </div>
            </div>
            <!-- /main navigation-->
          </div>
        </div>
        <!-- /main sidebar-->
        <!-- Main content-->
        <div class="content-wrapper">
          <!-- Page header-->
          <breadcrumb class="page-header">
            <div class="page-header-content">
              <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i><span class="text-semibold">Home</span> - Dashboard
                </h4>
              </div>
            </div>
            <div class="breadcrumb-line">
              <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Dashboard</li>
              </ul>
            </div>
          </breadcrumb>
          <!-- /page-header-->
          <!-- Content-area-->
          <div class="content">
            <h1>Todo o conteúdo aqui.</h1>
            <!-- Footer-->
            <div class="footer text-muted">&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a></div>
          </div>
          <!-- /content area-->
        </div>
        <!-- /main content-->
      </div>
      <!-- /page content-->
    </div>
    <!-- /page container-->
  </body>
</html>
