resources/pug/_components/cerebelo/main-sidebar.pug
// Main sidebar
.sidebar.sidebar-main.bg-blue-800
  .sidebar-content
    // User menu
    .sidebar-user
      .category-content
        .media
          a.media-left(href="#")
            img.img-circle.img-sm(src="{{ route('cerebelo.index') }}/assets/images/logo-almais.png", alt="")
          .media-body
            span.media-heading.text-semibold Almais
            .text-size-mini.text-muted
              i.icon-pin.text-size-small
              |   Juiz de Fora, MG
    // /user menu
    // Main navigation
    #sidebar-menu.sidebar-category.sidebar-category-visible
      .category-content.no-padding
        ul.navigation.navigation-main.navigation-accordion
          // Main
          li.pl-5.pr-5.pb-5
            .form-group.has-feedback
              input.form-control(type="text", placeholder="" v-model="searchText")
              .form-control-feedback
                i.icon-search4.text-size-base
            ul
              li(v-repeat="users | filterBy searchText") ((name))
          li.active
            a(href="{{ route('cerebelo.index') }}")
              i.icon-home4
              span Dashboard
          // /Principal
          // Menu
          li.navigation-header
            span.text-orange-300 Projetos
            i.icon-menu(title="Main pages")
          li
            a(href="{{ route('cerebelo.index') }}/budgets")
              i.icon-calculator2.text-orange-300
              span Orçamento
          li
            a(href="{{ route('cerebelo.index') }}/lines")
              i.icon-equalizer4.text-orange-300
              span Linhas
          li
            a(href="{{ route('cerebelo.index') }}/clients")
              i.icon-address-book2.text-orange-300
              span Clientes
          li
            a(href="{{ route('cerebelo.index') }}/building-works")
              i.icon-office.text-orange-300
              span Obras
          li
            a(href="{{ route('cerebelo.index') }}/products")
              i.icon-color-sampler.text-orange-300
              span Produtos e Acessórios
          // /Menu
          // Fornecedores
          //li.navigation-header
          //  span.text-blue-300 Fornecedores
          //  i.icon-menu(title="Fornecedores")
          //li
          //  a(href="fornecedores.html")
          //    i.icon-users2.text-blue-300
          //    span Fornecedores
          //// /Fornecedores
          //
          //// Financeiro
          li.navigation-header
            span.text-green-300 Financeiro
            i.icon-menu(title="Financeiro")
          li
            a(href="{{ route('cerebelo.fixed-costs.index') }}")
              i.icon-cash3.text-green-300
              span Custo fixo
          //li
          //  a(href="contas_a_pagar.html")
          //    i.icon-cash3.text-green-300
          //    span Contas a Pagar
          //li
          //  a(href="contas_a_receber.html")
          //    i.icon-piggy-bank.text-green-300
          //    span Contas a Receber
          //li
          //  a(href="fluxo_de_caixa.html")
          //    i.icon-chart.text-green-300
          //    span Caixa
          //li
          //  a(href="#")
          //    i.icon-safe.text-green-300
          //    span Configurações Financeiras
          //    ul
          //      li
          //        a(href="contas_bancarias.html") Contas Financeiras
          //      li
          //        a(href="planos_de_contas.html") Planos de Contas
          //      li
          //        a(href="tipos_de_boletos.html") Configurar Boletos
          //// /Financeiro
          //
          //// Recursos Humanos
          //li.navigation-header
          //  span.text-warning-300 Recursos Humanos
          //  i.icon-menu(title="Recursos Humanos")
          //li
          //  a(href="funcionarios.html")
          //    i.icon-users4.text-warning-300
          //    span Funcionários
          //li
          //  a(href="remuneracao_beneficios.html")
          //    i.icon-users4.text-warning-300
          //    span Remuneração e Benefícios
          //// /Recursos Humanos
          //// Relatórios
          //li.navigation-header
          //  span.text-info-300 Relatórios
          //  i.icon-menu(title="Relatórios")
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 01
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 02
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 03
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 04
          //li
          //  a(href="components_animations.html")
          //    i.icon-shredder.text-info-300
          //    span Relatório 05
          //// /Relatórios
          //// Configurações
          li.navigation-header
            span.text-danger-300 Sistema
            i.icon-menu(title="Relatórios")
          //li
          //  a(href="configuracoes_cliente.html")
          //    i.icon-cog4.text-danger-300
          //    span Configurações do Cliente
          li
            a(href="{{ route('cerebelo.index') }}/users")
              i.icon-person.text-danger-300
              span Usuários
          // /Configurações
    // /main navigation
// /main sidebar

build/_partials/main-sidebar.html

<!-- Main sidebar-->
<div class="sidebar sidebar-main bg-blue-800">
  <div class="sidebar-content">
    <!-- User menu-->
    <div class="sidebar-user">
      <div class="category-content">
        <div class="media"><a class="media-left" href="#"><img class="img-circle img-sm" src="assets/images/logo-almais.png" alt=""/></a>
          <div class="media-body"><span class="media-heading text-semibold">Almais</span>
            <div class="text-size-mini text-muted"><i class="icon-pin text-size-small"></i>  Juiz de Fora, MG</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /user menu-->
    <!-- Main navigation-->
    <div class="sidebar-category sidebar-category-visible" id="sidebar-menu">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
          <!-- Main-->
          <li class="pl-5 pr-5 pb-5">
            <div class="form-group has-feedback">
              <input class="form-control" type="text" placeholder="" v-model="searchText"/>
              <div class="form-control-feedback"><i class="icon-search4 text-size-base"></i></div>
            </div>
            <ul>
              <li v-repeat="users | filterBy searchText">{{name}}</li>
            </ul>
          </li>
          <li class="active"><a href="index.html"><i class="icon-home4"></i><span>Dashboard</span></a></li>
          <!-- /Principal-->
          <!-- Menu-->
          <li class="navigation-header"><span class="text-orange-300">Projetos</span><i class="icon-menu" title="Main pages"></i></li>
          <li><a href="orcamento.html"><i class="icon-calculator2 text-orange-300"></i><span>Orçamento</span></a></li>
          <li><a href="cadastro-linha.html"><i class="icon-equalizer4 text-orange-300"></i><span>Linhas</span></a></li>
          <li><a href="cadastro-cliente.html"><i class="icon-address-book2 text-orange-300"></i><span>Clientes</span></a></li>
          <li><a href="cadastro-obra.html"><i class="icon-office text-orange-300"></i><span>Obras</span></a></li>
          <li><a href="produtos-acessorios.html"><i class="icon-color-sampler text-orange-300"></i><span>Produtos e Acessórios</span></a></li>
          <!-- /Menu-->
          <!-- Fornecedores-->
          <li class="navigation-header"><span class="text-blue-300">Fornecedores</span><i class="icon-menu" title="Fornecedores"></i></li>
          <li><a href="fornecedores.html"><i class="icon-users2 text-blue-300"></i><span>Fornecedores</span></a></li>
          <!-- /Fornecedores-->
          <!-- Financeiro-->
          <li class="navigation-header"><span class="text-green-300">Financeiro</span><i class="icon-menu" title="Financeiro"></i></li>
          <li><a href="contas_a_pagar.html"><i class="icon-cash3 text-green-300"></i><span>Contas a Pagar</span></a></li>
          <li><a href="contas_a_receber.html"><i class="icon-piggy-bank text-green-300"></i><span>Contas a Receber</span></a></li>
          <li><a href="fluxo_de_caixa.html"><i class="icon-chart text-green-300"></i><span>Caixa</span></a></li>
          <li><a href="#"><i class="icon-safe text-green-300"></i><span>Configurações Financeiras</span>
              <ul>
                <li><a href="contas_bancarias.html">Contas Financeiras</a></li>
                <li><a href="planos_de_contas.html">Planos de Contas</a></li>
                <li><a href="tipos_de_boletos.html">Configurar Boletos</a></li>
              </ul></a></li>
          <!-- /Financeiro-->
          <!-- Recursos Humanos-->
          <li class="navigation-header"><span class="text-warning-300">Recursos Humanos</span><i class="icon-menu" title="Recursos Humanos"></i></li>
          <li><a href="funcionarios.html"><i class="icon-users4 text-warning-300"></i><span>Funcionários</span></a></li>
          <li><a href="remuneracao_beneficios.html"><i class="icon-users4 text-warning-300"></i><span>Remuneração e Benefícios</span></a></li>
          <!-- /Recursos Humanos  -->
          <!-- Relatórios-->
          <li class="navigation-header"><span class="text-info-300">Relatórios</span><i class="icon-menu" title="Relatórios"></i></li>
          <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 01</span></a></li>
          <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 02</span></a></li>
          <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 03</span></a></li>
          <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 04</span></a></li>
          <li><a href="components_animations.html"><i class="icon-shredder text-info-300"></i><span>Relatório 05</span></a></li>
          <!-- /Relatórios-->
          <!-- Configurações-->
          <li class="navigation-header"><span class="text-danger-300">Sistema</span><i class="icon-menu" title="Relatórios"></i></li>
          <li><a href="configuracoes_cliente.html"><i class="icon-cog4 text-danger-300"></i><span>Configurações do Cliente</span></a></li>
          <li><a href="suporte.html"><i class="icon-help text-danger-300"></i><span>Suporte</span></a></li>
          <!-- /Configurações-->
        </ul>
      </div>
    </div>
    <!-- /main navigation-->
  </div>
</div>
<!-- /main sidebar-->
