resources/pug/_components/cerebelo/main-navbar.pug
// Main navbar
.navbar.bg-blue-700
    .navbar-header
        a.navbar-brand(href="{{ route('cerebelo.index') }}")
            img(src="{{ route('cerebelo.index') }}/assets/images/logo_light.png", alt="")
        ul.nav.navbar-nav.visible-xs-block
            li
                a(data-toggle="collapse", data-target="#navbar-mobile")
                    i.icon-tree5.text-white
            li
                a.sidebar-mobile-main-toggle
                    i.icon-paragraph-justify3
    #navbar-mobile.navbar-collapse.collapse
        ul.nav.navbar-nav
            li
                a.sidebar-control.sidebar-main-toggle.hidden-xs
                    i.icon-paragraph-justify3
        ul.nav.navbar-nav.navbar-right
            li.dropdown.dropdown-user
                a.dropdown-toggle.text-white(data-toggle="dropdown",)
                    img(src="{{ route('cerebelo.index') }}/assets/images/logo-almais.png", alt="")
                    span {{ Auth::user()->name }}
                    i.caret
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="#")
                            i.icon-cog5
                            |  Configurações da Conta
                    li
                        a(href="{{ route('cerebelo.index') }}/logout")
                            i.icon-switch2
                            |  Logout
// /main navbar

build/_partials/main-navbar.html

<!-- Main navbar-->
<div class="navbar bg-blue-700">
  <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""/></a>
    <ul class="nav navbar-nav visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5 text-white"></i></a></li>
      <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
  </div>
  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown dropdown-user"><a class="dropdown-toggle text-white" data-toggle="dropdown"><img src="assets/images/demo/users/face11.jpg" alt=""/><span>Victoria</span><i class="caret"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-cog5"></i> Configurações da Conta</a></li>
          <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar-->
